.venv/
__pycache__/
*.pyc
.pytest_cache/
/build/
/dist/
*.egg-info/
packaging/*.pkg.tar.*
packaging/src/
packaging/pkg/
packaging/*.tar.gz
omaforge/_buildkey.py
packaging/stage/
packaging/*.deb
packaging/*.rpm
