[Unit]
Description=Update World of Warcraft addons (omaforge)
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/bin/omaforge update --all --notify
